<div class="container-fluid articles">
  <app-nav></app-nav>
  <div class="article-group">
    <div class="content">
      <div class="article">
        <h1 class="heading">Development?</h1>
        <hr style="color: teal" />
        <p class="text">
          I started web development after a brief career as a computer operator.
          I am a graduate in civil engineering and yet I choose programming
          because home is where heart is. I changed my field from a construction
          based line to a system based line because of my desire and passion of
          mobile applications. I was always thrilled by looking at the mobile
          apps in ios and android. I usually used to think about the mobile
          functionalities. I received a huge help from my best friend and a
          great amount of support from my Parents, my Fiancee and my Brother. I
          started with HTML and CSS and jumped to Java Script and Type Script.
          The journey wasnt easy but fruitful. I personally think everyone
          should learn to code no matter what their field is. I am well
          conversed with Angular right now and I am working as an Angular
          Developer. I am a React and Node.JS enthusiast.
        </p>
      </div>
      <div class="article">
        <h1 class="heading">Future?</h1>
        <hr style="color: teal" />
        <p class="text">
          Coding and languages as we know them may change since new advancements
          occur every week. And some of them have the potential to radically
          transform the industry. However, even if artificial intelligence
          becomes exceedingly intelligent by 2030, people would still be
          required to program it unless it is allowed complete autonomy.
          Absolutely. Coding will not only be vital in ten years, but it will be
          even more so than it is now. The grammar of coding languages, on the
          other hand, will continue to improve. When coding first began, it was
          all about punching holes in pieces of cardboard. Then it appeared as
          follows: 00101010101. It now appears to be written in English. The
          syntax for creating a loop or a conditional for a computer to do
          something or make a judgment may change. But the underlying notions
          beneath it are unlikely to change for decades.
        </p>
      </div>
      <div class="article">
        <h1 class="heading">Football</h1>
        <hr style="color: teal" />
        <p class="text">
          So jump from coding and its future to football, well thats because
          football means a lot to me. So lets take a moment and discuss
          football. My favourite footballer is David Beckham (yayy too
          mainstream!!), but yeah he is. I have been following football since
          1999 and I support Manchester United. From Sir Alex to Eric Ten hag,
          from class of 92 to Rashford and Garnacho, from playing Champions
          League to fighting for europe I have seen it all and I have lived it
          all. One day I will visit Old Trafford. Man united are not just a
          football club, its a feeling, its a dream. The dreams of Sir Bobby,
          Sir Alex and MBE Sir Rashford. My favourite players throughout
          generations have been George Best, Eric Cantona, Paul scholes, Ryan
          Giggs, David Beckham, Wayne Rooney, Cristiano Ronaldo, Micheal
          Carrick, Zlatan Ibrahimovic, David De Gea and Marcus Rashford .
          "GGMU".
        </p>
      </div>
    </div>
  </div>
</div>
