.contact-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .main {
    background-image: url(../../assets/Images/kaleb-tapp-J59wWPn09BE-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
