<nav class="navbar navbar-expand-lg" style="background-color: #9a8c98">
  <a [routerLink]="['/home']" class="navbar-brand">{{ authorName }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a [routerLink]="['/about']" class="nav-link" aria-current="page"
          >About Me</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          My Projects
        </a>
        <ul class="dropdown-menu">
          <li>Angular Apps</li>
          <hr />
          <li>
            <a
              class="dropdown-item"
              href="https://affan-s-ecomapp.netlify.app/products"
              >ECom App</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="https://affan-s-calorietracker2.netlify.app/"
              >Calorie Tracker App</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="https://task-manager-ah.netlify.app"
              >Task Manager App</a
            >
          </li>
          <hr />
          <li>Vanilla JS Apps</li>
          <hr />
          <li>
            <a
              class="dropdown-item"
              href="https://affan-s-scorekeeper.netlify.app/"
              >Score Keeper App</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="https://affan-s-tvsearchapp.netlify.app/"
              >TV-Series Search App</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="https://affan-s-todo.netlify.app/"
              >Simple Todo List App</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contact']" class="nav-link">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>
