<div class="container-fluid dashboard">
  <app-nav></app-nav>
  <div class="bg-img">
    <div class="row-1">
      <div class="card">
        <img
          src="../../assets/Images/ecom.jpg"
          class="card-img-top"
          alt="ecom"
        />
        <div class="card-body">
          <h5 class="card-title">ECom App</h5>
          <p class="card-text">Tech Used : Angular-13</p>
          <a
            href="https://affan-s-ecomapp.netlify.app/products"
            class="btn btn-primary"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Images/cal.jpg" class="card-img-top" alt="cal" />
        <div class="card-body">
          <h5 class="card-title">Calorie Tracker App</h5>
          <p class="card-text">Tech Used : Angular-13</p>
          <a
            href="https://affan-s-calorietracker2.netlify.app/"
            class="btn btn-secondary"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/Images/task.jpg"
          class="card-img-top"
          alt="task"
        />
        <div class="card-body">
          <h5 class="card-title">Task Manager App</h5>
          <p class="card-text">Tech Used : Angular-14</p>
          <a
            href="https://task-manager-ah.netlify.app"
            class="btn btn-success"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
    </div>

    <div class="row-2">
      <div class="card">
        <img
          src="../../assets/Images/score-keeper.jpg"
          class="card-img-top"
          alt="sk"
        />
        <div class="card-body">
          <h5 class="card-title">Score Keeper App</h5>
          <p class="card-text">Tech Used : VJS</p>
          <a
            href="https://affan-s-scorekeeper.netlify.app/"
            class="btn btn-danger"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/Images/tv-series.jpg"
          class="card-img-top"
          alt="tv"
        />
        <div class="card-body">
          <h5 class="card-title">TV Series Search App</h5>
          <p class="card-text">Tech Used : VJS</p>
          <a
            href="https://affan-s-tvsearchapp.netlify.app/"
            class="btn btn-warning"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
      <div class="card">
        <img
          src="../../assets/Images/todo.jpg"
          class="card-img-top"
          alt="todo"
        />
        <div class="card-body">
          <h5 class="card-title">Simple Todo List App</h5>
          <p class="card-text">Tech Used : VJS</p>
          <a
            href="https://affan-s-todo.netlify.app/"
            class="btn btn-dark"
            style="width: 15rem"
            >Visit</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
